name: Mixed inputs

on:
  workflow_dispatch:
    inputs:
      buildEnvironment:
        type: choice
        description: Build Environment
        options:
        - Development
        - Production
      slackChannel:
        type: choice
        description: Slack Channel
        options:
        - Public
        - Private
      buildTargetOne:
        type: choice
        description: Build Target One
        options: 
        - None
        - Android
        - iOS
        - Windows 
        - Windows Server
        - Linux Server
      buildTargetTwo:
        type: choice
        description: Build Target Two
        options: 
        - None
        - Android
        - iOS
        - Windows 
        - Windows Server
        - Linux Server
      buildTargetThree:
        type: choice
        description: Build Target Three
        options: 
        - None
        - Android
        - iOS
        - Windows 
        - Windows Server
        - Linux Server
      buildTargetFour:
        type: choice
        description: Build Target Four
        options: 
        - None
        - Android
        - iOS
        - Windows 
        - Windows Server
        - Linux Server
      overrideBuildNumber:
        description: 'Override build number'
        default: false
        required: true
        type: boolean
      customBuildNumber:
        description: 'Custom build number'
        default: "0"
        required: true
        type: string

run-name: Running ${{ inputs.buildTargetOne }} by @${{ github.actor }}

jobs:
  preBuilds:
    runs-on: ubuntu-latest
    outputs:
      result: ${{ steps.buildMatrix.outputs.selectedTarget }}
    steps:
    - uses: actions/checkout@v2
    - uses: ./
      name: Build Matrix
      id: buildMatrix
      with: 
        buildEnvironment: "${{ github.event.inputs.buildEnvironment }}"
        buildTargetOne: "${{ github.event.inputs.buildTargetOne }}"
        buildTargetTwo: "${{ github.event.inputs.buildTargetTwo }}"
        buildTargetThree: "${{ github.event.inputs.buildTargetThree }}"
        buildTargetFour: "${{ github.event.inputs.buildTargetFour }}"
        buildNumberStepSize: 100
        buildNumberAPIKey: "${{ secrets.BUILD_NUMBER_API_KEY }}"
        overrideBuildNumber: "${{ github.event.inputs.overrideBuildNumber }}"
        customBuildNumber: "${{ github.event.inputs.customBuildNumber }}"
    - name: Send greeting
      run: echo "${{ steps.buildMatrix.outputs.selectedTarget }}" 
    - name: Upload Project Settings
      uses: actions/upload-artifact@v4
      with:
        name: Project Settings
        path: ProjectSettings/ProjectSettings.asset
  build: #To create the builds
    needs: preBuilds
    name: Build for ${{ matrix.targetPlatform.customPlatformName }}
    runs-on: ubuntu-latest
    outputs:
      buildResult: ${{ steps.buildStep.outcome }}
    strategy:
      fail-fast: false
      matrix:
        targetPlatform: ${{ fromJson(needs.preBuilds.outputs.result) }}
    steps:
      - name: Check Out
        run: echo "${{ matrix.targetPlatform.platform }} - ${{ matrix.targetPlatform.os }} - ${{ secrets[format('{0}', matrix.targetPlatform.slackWebHook)] }} - ${{secrets['SLACK_WEBHOOK']}}"