name: Mixed inputs

on:
  workflow_dispatch:
    inputs:
      buildEnvironment:
        type: choice
        description: Build Environment
        options:
        - Development
        - Production
      slackChannel:
        type: choice
        description: Slack Channel
        options:
        - Public
        - Private
      buildTargetOne:
        type: choice
        description: Build Target One
        options: 
        - None
        - Android
        - iOS
        - Windows 
        - Windows Server
        - Linux Server
      buildTargetTwo:
        type: choice
        description: Build Target Two
        options: 
        - None
        - Android
        - iOS
        - Windows 
        - Windows Server
        - Linux Server
      buildTargetThree:
        type: choice
        description: Build Target Three
        options: 
        - None
        - Android
        - iOS
        - Windows 
        - Windows Server
        - Linux Server
      buildTargetFour:
        type: choice
        description: Build Target Four
        options: 
        - None
        - Android
        - iOS
        - Windows 
        - Windows Server
        - Linux Server
      slackData:
        required: true
        default: '{"Public":"SLACK_WEBHOOK","Private":"SLACK_WEBHOOK_2"}'
      settingsFilePath:
        required: true
        default: 'ProjectSettings/ProjectSettings.asset'

jobs:
  preBuilds:
    runs-on: ubuntu-latest
    outputs:
      result: ${{ steps.buildMatrix.outputs.selectedTarget }}
    steps:
    - uses: actions/checkout@v2
    - uses: ./
      name: Build Matrix
      id: buildMatrix
      with: 
        buildEnvironment: "${{ github.event.inputs.buildEnvironment }}"
        buildTargetOne: "${{ github.event.inputs.buildTargetOne }}"
        buildTargetTwo: "${{ github.event.inputs.buildTargetTwo }}"
        buildTargetThree: "${{ github.event.inputs.buildTargetThree }}"
        buildTargetFour: "${{ github.event.inputs.buildTargetFour }}"
        os: "${{ github.event.inputs.os }}"
        slackChannel: "${{ github.event.inputs.slackChannel }}"
        slackData: "${{ github.event.inputs.slackData }}"
        settingsFilePath: "${{ github.event.inputs.settingsFilePath }}"
    - name: Send greeting
      run: echo "${{ steps.buildMatrix.outputs.selectedTarget }}" 
    - name: Upload Project Settings
      uses: actions/upload-artifact@v3
      with:
        name: Project Settings
        path: ProjectSettings/ProjectSettings.asset
  build: #To create the builds
    needs: preBuilds
    name: Build for ${{ matrix.targetPlatform.customPlatformName }}
    runs-on: ubuntu-latest
    outputs:
      buildResult: ${{ steps.buildStep.outcome }}
    strategy:
      fail-fast: false
      matrix:
        targetPlatform: ${{ fromJson(needs.preBuilds.outputs.result) }}
    steps:
      - name: Check Out
        run: echo "${{ matrix.targetPlatform.platform }} - ${{ matrix.targetPlatform.os }} - ${{ secrets[format('{0}', matrix.targetPlatform.slackWebHook)] }} - ${{secrets['SLACK_WEBHOOK']}}"